/* Fonts
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif; */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 100px 50px;
    border: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Roboto Mono', 'monospace';
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/bg-grid.jpg);
    background-blend-mode: multiply;
    background-color: #E9E5EA;
}
  h1, h2, h3 {
    font-family: 'Rubik', 'sans-serif';
    margin: 0;
  }

  h1 {
    font-size: 5em;
    line-height: 70px;
  }

  h2 {
    font-size: 3em;
    line-height: 70px;
  }

  h3 {
    font-size: 2em;
  }

  p {
    padding: 0 0 10px 0;
  }

  .bold {
    font-style: bolder;
  }

.if {
    width: 80%;
    max-width: 1000px;
    min-width: 289px;
    height: 90%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 4px solid #413C4A;
}

.topbar {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 8px 12px;
    justify-content: space-between;
    background-color: #B4A1DB; 
  }
    .navbar {
      flex: 1;
      text-align: center;
  }
    .navtext {
      display: inline-block;
      position: relative;
      color: black;
      text-decoration: none;
      font-family: 'Rubik', 'sans-serif';
      font-size: 1.2em;
    }
      .navtext:hover {
        color:white;
      }
      .navtext::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .navtext:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

  .btn-menu {
    width: 30px;
    height: 30px;
    content: url(imgs/menuCerrado-img.svg);
  }
  

.header {
    width: 100%;
    height: 100vh;
    background-color: #e3d5fd;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px; 
  }

.arrow-container{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 30%;
  margin: 1% 0em 1% auto;
  text-align: right;
}
  .arrow-txt {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;

  /*ANIMATION*/
      animation: rotation 10s infinite linear;
    }
      @keyframes rotation {
        from {
        transform: rotate(0deg);
        }
      
        to {
        transform: rotate(365deg);
        }
  }
  .arrow-img {
    position: absolute;
    width: 120px;
    height: 120px;
    background-size: cover;
    border-radius: 50%;
  }
  
@media all and (min-width: 800px) {
    .center-content {
      padding-left: calc((100% - 800px) / 2);
      padding-right: calc((100% - 800px) / 2);
    }
  }

.center-content {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.bigTitle {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  line-height: 100%;
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
}
  /* ABOUT ME */
.aboutMe-section {
    padding: 80px;
    align-items: center;
  }
  /*Portrait photo*/
  .portrait-container {
    flex-basis: 90%;
    max-width: 400px;
    margin: 20px;
    margin-top: 1rem;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    box-shadow: 4px 4px 0px #000;
  }
    .portrait {
      width: 100%;
      height: 100%;
  }

  /* BUTTONS */
  /*Main Button*/
.button-container {
  display: flex;
  gap: 20px;
  align-content: space-between;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 8px 10px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  
  background-color: #E2D5FC;
  color: black;
  border: 1px solid #413C4A;
  /* border-radius: 10px; */
  box-shadow: 2px 2px 0px black;
  
  font-weight: 600;
  font-size: 18px;
}

  .btn:hover {
    color: #B4A1DB;
    background-color: white;
   border: 1px solid #B4A1DB;
  }

  .btn:active {
    transform: translate(2px, 2px);
  }

/*Secondary button*/
.btn--secondary{
  background-color: #E9E5EA;
}

  .btn--secondary:hover {
    color: #413C4A;
    background-color: #fff;
    border: 1px solid #413C4A;
  }

  .btn--secondary:active {
    transform: translate(0px);
  }
/* SKILLS */
  /*Style*/
.skills-section {
    background-color: #413C4A;
    color: white;
    padding: 30px;
}
  .section-title {
      width: 100%;
      padding: 0.3rem 0;
      border-top: 1px solid white;

      font-family: Rubik, sans-serif;
      font-size: 30px;
      font-weight: 700;
  }

  .section-p-title {
      font-family: 'Roboto Mono', 'monospace';
      font-size: 20px;
     font-weight: 700;
  }
  .section-p{
      font-weight: lighter;
  }
  summary {
      display: block;
      color: white;
  }

/*Summary arrow*/
    summary::after {
      margin-left: 1ch;
      display: inline-block;
      transition: 0.2s;
      content: "▶"
    }

    details[open] summary::after {
      transform: rotate(90deg);
    }

/*CONTACT*/
.contact-section {
    width: 100%;
    padding: 40px;
  }
.contact-section p {
    text-align: center;
    align-items: center;
    align-content: center;
}
form {
    max-width:420px;
    margin:50px auto;
    }

.contact-form {
        color: black;
        font-size: 15px;
        /* border-radius: 10px;*/
        box-shadow: 2px 2px 0px black;
        line-height: 22px;
        background-color: transparent;
        border:1px solid black;
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 15px;
        width:100%;
        box-sizing: border-box;
        outline:0;
      }

label {
        font-size: 15px;
        font-weight: 700;
      }

textarea {
        height: 150px;
        line-height: 150%;
        resize: vertical;
      }
      
[type="submit"] {
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    background: #E2D5FC;
    /* border-radius:10px; */
    border: 1px solid black;
    box-shadow: 2px 2px 0px black;
    cursor: pointer;
    color: black;        
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
}

[type="submit"]:hover { background:#B4A1DB;}

.findMe-section {
  margin: 10px;
}
.rrss-icons {
  display: flex;
  width: fit-content;
  gap: 40px;
}